<form class="form-signin" #f="ngForm" (ngSubmit) = "signUp(f.value)">
  <h2 class = "form-signin-heading">Please sign up</h2>
  <!-- <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div> -->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" name="confirm_password" ngModel class="form-control" placeholder="Confirm Password" required>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" name="name" ngModel class="form-control" placeholder="Your name" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
  
  
  